<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <title>Update Flashcard</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
        <script>
          setTimeout(() => {
            window.location.href = "/";
          }, 10000);
        </script>
      <% } %>

      <% if (flashcard) { %>
      <h3>Update Flashcard?</h3>
      <form method="POST" action="/flashcard/<%= flashcard._id %>/update?_method=PUT">
        <div class="mb-3">
          <label for="japanese" class="form-label">日本語で</label>
          <input
            type="text"
            id="japanese"
            name="japanese"
            class="form-control"
            value="<%= flashcard.japanese %>"
            required
          />
        </div>

        <div class="mb-3">
          <label for="english" class="form-label">In English</label>
          <input
            type="text"
            id="english"
            name="english"
            class="form-control"
            value="<%= flashcard.english %>"
            required
          />
        </div>

        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select class="form-select" name="type" required>
            <option value="">Select type</option>
            <option value="kanji" <%= flashcard.type === 'kanji' ? 'selected' : '' %>>Kanji</option>
            <option value="vocab" <%= flashcard.type === 'vocab' ? 'selected' : '' %>>Vocab</option>
            <option value="phrase" <%= flashcard.type === 'phrase' ? 'selected' : '' %>>Phrase</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Card</button>
      </form>
      <% } %>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
